.body {
	font-family: "Times New Roman", Times, serif;
}

.h1 {
	color: lightseagreen;
	font-size: 36px
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
.box {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.turquoise {
  background: lightseagreen;
  h1: white;
}

.latitude {
	background: lightseagreen;
	color: white
	font-family: "Times New Roman", Times, serif;
}
